<h2>Notabilities</h2>
<h3><%= @celebrities[:first_name].capitalize%> <%= @celebrities[:last_name].capitalize %></h3>
<p><%= @celebrities[:first_name]%> is known for <%= @celebrities[:notability]%></p>
<%= link_to "Back to Celebrities", root_path %>